@import url('https://fonts.googleapis.com/css?family=K2D');

.containerUp {
    position: absolute;
    width: 100%;
    z-index: 0;
    height: 8vh;
    background-color: #1E90FF;
    display: flex;
    flex-direction: row;

    .logo {
        background-color: #2f79c2;
        width: 23%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            color: #fff;
            font-weight: 100;
            margin-right: 20px;
            letter-spacing: 3px;
            font-family: 'k2d';
            font-size: 1.7rem;
        }
    }

    .avatar {
        width: 77%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        h1 {
            font-size: 1.2rem;
            color: red;
            margin-right: 20px;
            font-family: 'k2d';

            &:hover {
                cursor: pointer;
                color: rgb(179, 40, 40);
            }
        }
    }
}

.containerLeft {
    position: absolute;
    z-index: 0;
    width: 23%;
    height: 92%;
    display: flex;
    margin-top: 8vh;
    background-color: rgb(34, 45, 49);

    ul {
        list-style: none;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #fff;
        font-family: 'k2d';

        a {
            text-decoration: none;
            color: inherit;
            width: 100%;

            &.link-active{
                background-color: rgb(31, 40, 45);
            }

            .rest {
                width: 100%;
                padding: 20px;
                cursor: pointer;
                font-size: 1.2rem;

                &:hover {
                    background-color: rgb(30, 48, 58);
                }

                display: flex;
                align-items: center;

                fa-icon {
                    margin-right: 5px;
                    font-size: 1.3rem;

                }
            }

        }




    }

}