.container {
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.table-wrapper {
    width: 80%;
    height: 70vh; 
    margin-top: 70px;
    overflow-y: auto;
    overflow-x: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    padding: 10px;
    background: #f6fbf9;
    color: black;
    font-family: 'k2d';
    font-size: 20px;
    text-align: left;
}
