.container {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgb(1, 1, 1);
    z-index: 1;
    top: 90vh;
    right: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    fa-icon {
        font-size: 30px;
        color: white;
    }

    &:hover {
        background-color: rgb(12, 37, 61);
    }
}

.aiChatMenu {
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 50%;
    background-color: rgba(245, 245, 245, 0.8);
    top: 50%;
    right: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    .exitMenu {
        width: 100%;
        height: 13%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;

        .chatbotAvatar {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            fa-icon {
                color: black;
                margin-right: 5px;
                margin-left: 10%;
                display: flex;
                align-self: center;
                font-size: 1.4rem;
                margin-top: 3px;
            }

            h1 {
                font-family: 'k2d';
                color: black;
                font-size: 1.2rem;
            }

            .greenCircle {
                width: 10px;
                height: 10px;
                background-color: green;
                border-radius: 50%;
                margin-left: 5px;
                margin-top: 3px;
            }
        }

        .exitButton {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: end;

            h1 {
                color: red;
                margin-right: 15px;
                margin-bottom: 5px;
                cursor: pointer;
                font-weight: bold;
                font-family: 'k2d';

                &:hover {
                    color: rgb(77, 42, 42);
                }
            }
        }


    }

    .content {
        width: 100%;
        height: 67%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px;
    }

    .message {
        max-width: 70%;
        padding: 10px 14px;
        border-radius: 18px;
        background-color: rgba(0, 0, 0, 0.4);
        font-family: 'k2d';
        color: black;
        font-weight: bold;

        &.ai {
            align-self: flex-start;
            border-top-left-radius: 0;
        }

        &.me {
            align-self: flex-end;
            border-top-right-radius: 0;
        }
    }






    .userMessage {
        border-top: 1px solid black;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 70%;

            textarea {
                width: 100%;
                min-height: 40px;
                max-height: 150px;
                resize: none;
                padding: 10px;
                font-size: 1rem;
                border-radius: 12px;
                border: 1px solid #ccc;
                box-sizing: border-box;
                
            }

            button {
                position: absolute;
                cursor: pointer;
                right: 8px;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size:1.6rem;
                font-weight: bold;
                border:none;
                margin-bottom: 5px;
                background-color: black;
                color:#fff;

                &:hover{
                    background-color: rgb(59, 56, 56);
                }
            }
        }
    }
}