.background{
    position:absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../../../public/background.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
}