 @import url('https://fonts.googleapis.com/css?family=K2D');


 .container {
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;

     .registerContainer {
         padding: 20px;
         width: 40%;
         height: 75vh;
         background: rgba(120, 120, 120, 0.25);
         box-shadow: 0 4px 20px rgba(77, 81, 79, 0.3);
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;

         h1 {
             font-family: 'k2d';
             color: white;
             margin-bottom: 50px;
             letter-spacing: 3px;
         }

         .registerForm {
             margin-top: 20px;
             margin-bottom: 20px;
             display: flex;
             flex-direction: column;
             width: 100%;
             justify-content: center;
             align-items: center;

             .inputContainer {
                 border-radius: 10px;
                 display: flex;
                 height: auto;
                 width: 70%;
                 align-items: center;
                 justify-content: center;
                 border-bottom: 1px solid white;
                 margin-bottom: 30px;
                 padding: 5px;

                 input {
                     font-family: 'k2d';
                     font-size: 1.1rem;
                     width: 80%;
                     margin-bottom: 10px;
                     font-weight: 500;
                     color: #fff;
                     background: transparent;
                     outline: none;
                     border: 0;


                     &::placeholder {
                         color: #fff;

                     }
                 }

                 fa-icon {
                     position: absolute;
                     color: white;
                     font-size: 1.4rem;
                     right: 60.5%;
                     margin-bottom: 7px;
                 }

                 .showPass {
                     right: 38%;
                     cursor: pointer;

                     &:hover {
                         color: #9d9292;
                     }
                 }

                 // sa nu apara albul la autofill
                 input:-webkit-autofill {
                     -webkit-text-fill-color: #fff;
                     transition: background-color 5000s ease-in-out 0s;
                 }
             }

             button {
                 margin-top: 5vh;
                 cursor: pointer;
                 width: 50%;
                 padding: 12px;
                 font-family: 'k2d';
                 color: #fff;
                 background: rgba(255, 255, 255, 0.2);
                 opacity: 80%;
                 font-size: 1.1rem;
                 border: 0;
                 border-radius: 10px;



                 &:hover {
                     opacity: 100%;
                     box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.2);
                 }
             }
         }

         a {
             text-decoration: none;


         }

         .errorMessage {
             color: #f70f02;
             margin-top: 10px;
             letter-spacing: 3px;

             &:hover{
                color: #f70f02;
             }
         }

         .succesMessage {
             color: #00ff00;
             margin-top: 10px;
             letter-spacing: 3px;
             text-align: center;

             &:hover{
                color: #00ff00;
             }
         }

         p {
             font-family: 'k2d';
             color: #fff;
             margin-top: 10px;

             &:hover {
                 color: #908888;
             }
         }

         
     }
 }